body, div, h1, h2, h3, h4, h5, h6, ul, ol, form {
  margin: 0;
}
html body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: auto;
  // background: white;
  color: #555;
  background:white;
}

html, body {
  margin: 0;
  padding: 0;
}
